version: 2.1

latest: &latest
  pattern: "^1.18.*-erlang-27.*$"

tags:
  &tags [
    1.18.3-erlang-27.3-alpine-3.21.3,
    1.17.3-erlang-27.2-alpine-3.20.3,
    1.16.2-erlang-26.2.4-alpine-3.19.1,
    1.15.7-erlang-26.1.2-alpine-3.18.4,
    1.14.2-erlang-25.2-alpine-3.16.3,
  ]

jobs:
  check-license:
    docker:
      - image: fsfe/reuse:latest
    steps:
      - checkout
      - run: reuse lint

  cspell:
    docker:
      - image: cimg/node:current
    working_directory: ~/repo
    steps:
      - checkout
      - run: npx --yes cspell . --quiet

  build-test:
    parameters:
      tag:
        type: string
    docker:
      - image: hexpm/elixir:<< parameters.tag >>
    working_directory: ~/repo
    environment:
      LC_ALL: C.UTF-8
    steps:
      - run:
          name: Install system dependencies
          command: |
            apk add --no-cache build-base libmnl-dev cmake
            apk add fwup --repository=http://dl-cdn.alpinelinux.org/alpine/edge/community
      - checkout
      - run:
          name: Install hex and rebar
          command: |
            mix local.hex --force
            mix local.rebar --force
      - restore_cache:
          keys:
            - v1-mix-cache-<< parameters.tag >>-{{ checksum "mix.lock" }}
      - run: mix deps.get
      - run: mix compile --warnings-as-errors
      - run: mix test
      - when:
          condition:
            matches: { <<: *latest, value: << parameters.tag >> }
          steps:
            - run: mix format --check-formatted
            - run: mix deps.unlock --check-unused
            - run: mix docs
            - run: mix hex.build
            - run: mix credo -a --strict
            - run: mix dialyzer
      - save_cache:
          key: v1-mix-cache-<< parameters.tag >>-{{ checksum "mix.lock" }}
          paths:
            - _build
            - deps

  automerge:
    docker:
      - image: alpine:3.18.4
    steps:
      - run:
          name: Install GitHub CLI
          command: apk add --no-cache build-base github-cli
      - run:
          name: Attempt PR automerge
          command: |
            author=$(gh pr view "${CIRCLE_PULL_REQUEST}" --json author --jq '.author.login' || true)

            if [ "$author" = "app/dependabot" ]; then
              gh pr merge "${CIRCLE_PULL_REQUEST}" --auto --rebase || echo "Failed trying to set automerge"
            else
              echo "Not a dependabot PR, skipping automerge"
            fi

workflows:
  checks:
    jobs:
      - check-license
      - cspell
      - build-test:
          name: << matrix.tag >>
          matrix:
            parameters:
              tag: *tags

      - automerge:
          requires: *tags
          context: org-global
          filters:
            branches:
              only: /^dependabot.*/
